.env
alembic/
alembic.ini
venv
app.log
app.log.1
app.log.2
app.log.3
app.log.4
app.log.5

app/config/__pycache__/
app/repository/__pycache__/
app/schemas/__pycache__/
app/security/__pycache__/
requirements.txt
*.cpython-312.pyc
*.cpython-*.pyc
__pycache__/

app/__pycache__/
app/api/**/__pycache__/

docker-compose.yml

uploads/
